name: CI
on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:

defaults:
  run:
    shell: bash  # https://github.com/beeware/briefcase/pull/912

jobs:
  pre-commit:
    name: Pre-commit code style checks
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Set up Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: "3.X"
      - name: Lint with Pre-commit
        uses: pre-commit/action@v3.0.0

  unit-tests:
    name: Unit tests
    needs: [pre-commit]
    strategy:
      fail-fast: false
      matrix:
        backend: ["macOS-Xcode", "macOS-app", "linux-appimage", "linux-flatpak", "windows-VisualStudio", "windows-app", "iOS", "android"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        include:
          - runs-on: ubuntu-latest
          - pre-command:
          - briefcase-target:
          - briefcase-device:

          - backend: macOS-Xcode
            runs-on: macos-12
            briefcase-target: "macOS Xcode"

          - backend: macOS-app
            runs-on: macos-12
            briefcase-target: "macOS app"

          - backend: linux-appimage
            runs-on: ubuntu-latest
            pre-command: "sudo apt-get update -y && sudo apt-get install -y python3-gi python3-gi-cairo gir1.2-gtk-3.0 python3-dev libgirepository1.0-dev libcairo2-dev pkg-config"
            briefcase-target: "linux appimage"

          - backend: linux-flatpak
            # Need to use at least 22.04 to get the bugfix in flatpak for handling spaces in filenames.
            runs-on: ubuntu-22.04
            pre-command: "sudo apt-get update -y && sudo apt-get install -y python3-gi python3-gi-cairo gir1.2-gtk-3.0 python3-dev libgirepository1.0-dev libcairo2-dev pkg-config flatpak flatpak-builder"
            briefcase-target: "linux flatpak"

          - backend: windows-VisualStudio
            runs-on: windows-latest
            briefcase-target: "windows VisualStudio"

          - backend: windows-app
            runs-on: windows-latest
            briefcase-target: "windows app"

          - backend: iOS
            runs-on: macos-12
            briefcase-target: "iOS"
            briefcase-device: ' -d "iPhone SE (3rd generation)"'

          - backend: android
            runs-on: ubuntu-latest
            briefcase-target: "android"
            briefcase-device: " -d @beePhone"

        exclude:
          # Binary packages aren't available for 3.11 on mobile yet
          - backend: "android"
            python-version: "3.11"

          - backend: "iOS"
            python-version: "3.11"

    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4.3.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        ${{ matrix.pre-command }}
        # Temp: Use the PR962 branch
        # pip install briefcase
        pip install git+https://github.com/freakboy3742/briefcase.git@test-mode
    - name: Test App
      run: |
        briefcase run ${{ matrix.briefcase-target }} --test ${{ matrix.briefcase-device }}
    - name: Package
      run: |
        briefcase package ${{ matrix.briefcase-target }} --update --adhoc-sign
